<p id="notice"><%= notice %></p>

<h1>Your Feed</h1>

<p>
    Memes of profiles you've subscribed to will appear here.
</p>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @feed_memes.each do |meme| %>
      <tr>
          <td>
              <span><%= link_to meme.title, meme %></span>
              <img src=<%=meme.image%> class="meme">
          </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= paginate @feed_memes %>
<br>

<%#= link_to 'New User Feed', new_user_feed_path %>
