<h1>Editing User Feed Subscription</h1>

<%= render 'form', user_feed_subscription: @user_feed_subscription %>

<%= link_to 'Show', @user_feed_subscription %> |
<%= link_to 'Back', user_feed_subscriptions_path %>
