<h1> <%= "#{@user1.username} AND #{@user2.username} " %> FOUND LUV </h1>

<img src="/images/ohyeah.gif">
<br />
<%= link_to 'Chat Now', @conversation%>
<br/>
<%= link_to 'Back to Matchin\'', matches_url%>