name: Ruby
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    services:
      db:
        env:
          POSTGRES_PASSWORD: postgres
        image: postgres
        ports:
          - 5432:5432
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
    - uses: actions/checkout@v2
      #- name: Install PostgreSQL client
      #  run: sudo apt-get update -y && sudo apt-get install -y libpq-dev
    - name: Set up Ruby
      uses: ruby/setup-ruby@v1
      with:
        ruby-version: 2.6
        bundler-cache: true
    - name: Set up yarn
      run: |
        yarn install --pure-lockfile 
        yarn add jquery
    - name: Setup database schema
      env:
        PGHOST: localhost
        PGPASSWORD: postgres
        RAILS_ENV: test
      run: bin/rails db:setup
    - name: Run database migrations
      env:
        PGHOST: localhost
        PGPASSWORD: postgres
        RAILS_ENV: test
      run: |
        bin/rails active_storage:install
        bin/rails db:migrate
    - name: Run tests
      env:
        PGHOST: localhost
        PGPASSWORD: postgres
      run: |
        bin/rails webpacker:compile
        bin/rails test
